.contents {
  padding: calc((100 / 1300) * 100%);
  margin: 0 auto 100px;
  width: 80%;
  background-color: #eee;
  text-align: center;
}
.contents_link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}
body {
  cursor: none;
}
body a {
  cursor: none;
  &:hover {
    cursor: none;
  }
}
.cursor {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  border-radius: 50%;
  z-index: 5;
  pointer-events: none;
  &.is-active {
    background-color: #eee;
  }
}
.follower {
  width: 30px;
  height: 30px;
  transform-origin: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: pink;
  border-radius: 50%;
  z-index: 4;
  pointer-events: none;
  transition: .3s;
  &::before {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
    content: '';
    transform-origin: center;
    background-color: transparent;
    border-radius: 50%;
    transition: .1s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.is-active {
    // margin: -20px 0 0 -20px;
    background: transparent;
    &::before {
      background-color: rgba(red, .75);
      transform: scale(2);
    }
  }
}