.contents {
  padding-left: calc((100 / 1300) * 100vw);
  padding-right: calc((100 / 1300) * 100vw);
}
.slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &_images {
    flex: 0 0 calc((640 / 1300) * 100vw);
    width: calc((640 / 1300) * 100vw);
    height: calc((360 / 1300) * 100vw);
    margin : 0 auto;
    position: relative;
    &_img {
      width: calc((640 / 1300) * 100vw);
      height: calc((360 / 1300) * 100vw);
      margin: auto;
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &.is-active {
        display: block;
      }
    }
  }
  &_arrows {
    flex: 0 0 10%;
    width: 10%;
    user-select: none;
    &_icon {
      margin: 0 auto;
      width: 50px;
      height: 50px;
      display: block;
      background-color: rgb(110, 110, 110);
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        width: 20px;
        height: 4px;
        display: block;
        position: absolute;
        background-color: #fff;
      }
      &--lf {
        &::before {
          transform: rotate(45deg);
          top: 28px;
          left: 14px;
        }
        &::after {
          transform: rotate(-45deg);
          top: 17px;
          left: 14px;
        }
      }
      &--rt {
        &::before {
          transform: rotate(-45deg);
          top: 28px;
          left: 16px;
        }
        &::after {
          transform: rotate(45deg);
          top: 17px;
          left: 16px;
        }
      }
    }
  }
}
.dots {
  text-align: center;
  user-select: none;
  &_item {
    padding-top: 3px;
    margin: 20px 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    background-color: rgb(110, 110, 110);
    display: inline-block;
    cursor: pointer;
    user-select: none;
  }
}