.machine {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 70%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #eee;
  border-radius: 30px;
  &_item {
    flex: 0 0 30%;
    width: 30%;
    text-align: center;
    &_image {
      margin-bottom: 20px;
      &_img {
        quotes: 100%;
      }
    }
    &_button {
      text-align: center;
      &_txt {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 80%;
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        background-color: red;
        box-shadow: 1px 5px rgb(155, 4, 4);
        border-radius: 30px;
        user-select: none;
        cursor: pointer;
        &:active {
          box-shadow: none;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}
.spin {
  text-align: center;
  &_button {
    margin: 40px auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 300px;
    height: 80px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    background-color: green;
    border-radius: 30px;
    box-shadow: 1px 8px rgba(1, 97, 1, 0.993);
    user-select: none;
    &:active {
      box-shadow: none;
      position: relative;
      top: 8px;
    }

  }
}
